<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>zngwnm@qrorynx.bet</string>
	<key>contactName</key>
	<string>Matjaz Debelak</string>
	<key>description</key>
	<string><a href="https://github.com/KillerX/html-isml">https://github.com/KillerX/html-isml</a></string>
</dict>
</plist>
